@{
    ViewBag.Title = "A propos de";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <p>
        Monsieur X se lance dans la création d’une entreprise destinée à vendre et à livrer des denrées alimentaires (produits frais) aux restaurateurs locaux. Son objectif est de proposer à ces clients potentiels des produits frais achetés chez les producteurs locaux avec lesquels il est en contact. Afin de vendre ses produits frais dans les meilleures conditions, il souhaiterait mettre en place un système complet pour démarrer son entreprise avec les éléments suivants :
    </p>
    <p>
        Une base de données permettant de stocker tous ses produits, ses commandes, ses clients, etc.
    </p>
    <p>
        Une application installable sous forme d’un exécutable pour gérer les stocks c’est-à-dire les entrées et sorties de produit. Cette application sera installée sur plusieurs postes dans ses entrepôts et accédera à la base de données.
    </p>
    <p>
        Une application web pour permettre à ses futurs clients de passer commande rapidement et facilement et de suivre l’évolution de la commande.
    </p>
    <p>
        Un service web pour « communiquer » avec les personnes en charge des livraisons qui sont équipées d’un PDA. Ce service connecté à la base permettra à Monsieur X de suivre le livreur et de déterminer les commandes livrées et à livrer.
    </p>
</div>
